body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 20px;
    border: solid 5px darkgrey;
    background-color: #e3e1ebd0;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "screen screen screen screen"
        "clear  clear  delete delete"
        "seven  eight  nine   divide"
        "four   five   six   multiply"
        "one    two   three  minus"
        "zero   zero  equals  plus";
    column-gap: 10px;
    row-gap: 20px;
    width: 50vh;
    height: 80vh;
    margin: auto;
}

.screenWrapper {
    border: solid 5px #3711e9;
    border-radius: 10px;
    background-color: beige;
    /* height: 120px; */
    font-size: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* box-shadow: 1px 1px; */
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

.screen {
    margin-right: 2%;
}

/* Setting Grid Template Areas */
.screenWrapper {
    grid-area: screen;
}

.clear {
    grid-area: clear;
}

.delete {
    grid-area: delete;
}

.nine {
    grid-area: nine;
}

.eight {
    grid-area: eight;
}

.seven {
    grid-area: seven;
}

.six {
    grid-area: six;
}

.five {
    grid-area: five;
}

.four {
    grid-area: four;
}

.three {
    grid-area: three;
}

.two {
    grid-area: two;
}

.one {
    grid-area: one;
}

.zero {
    grid-area: zero;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.multiply {
    grid-area: multiply;
}

.divide {
    grid-area: divide;
}

.equals {
    grid-area: equals;
}


/* Clear and Delete Buttons */
.clear,
.delete {
    /* width: 10rem; */
    /* height: 4rem; */
    border: solid 3px #5a42ee;
    border-radius: 10px;
    background-color: beige;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #199cd8 2px 1px 1px 1px;
}

/* Number buttons */
.numbers {
    /* width: 3rem; */
    /* height: 2.5rem; */
    border: solid 3px rgb(47, 47, 177);
    border-radius: 10px;
    background-color: beige;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 1px 0px;
}

/* Operator Buttons */
.plus, 
.minus,
.multiply,
.divide,
.equals {
    /* width: 3rem; */
    /* height: 2.5rem; */
    border: solid 3px blue;
    border-radius: 10px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus, 
.minus,
.multiply,
.divide {
    background-color: beige;
    border: solid 3px #378e37;
    box-shadow: #36451a 1px 0px 1px 0px;
}

.equals {
    background-color: beige;
    border: solid 3px #ea441d;
    box-shadow: #d9671c 1px 0px 1px 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

span {
    font-size: 1.5rem;
    color: orangered;
}

a:link, a:visited {
    color: orangered;
    text-decoration: none;
    cursor: pointer;
}