.wrapper {
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 20px;
    border: solid 5px darkgrey;
    background-color: deepskyblue;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "screen screen screen screen"
        "clear  clear  delete delete"
        "seven  eight  nine   divide"
        "four   five   six   multiply"
        "one    two   three  minus"
        "zero   dp  equals  plus";
    gap: 20px;
    width: 50vh;
    height: 80vh;
    margin: auto;
}

.screen {
    border: solid 3px blue;
    border-radius: 10px;
    background-color: beige;
    min-height: 20px;
}

/* Setting Grid Template Areas */
.screen {
    grid-area: screen;
}

.clear {
    grid-area: clear;
}

.delete {
    grid-area: delete;
}

.nine {
    grid-area: nine;
}

.eight {
    grid-area: eight;
}

.seven {
    grid-area: seven;
}

.six {
    grid-area: six;
}

.five {
    grid-area: five;
}

.four {
    grid-area: four;
}

.three {
    grid-area: three;
}

.two {
    grid-area: two;
}

.one {
    grid-area: one;
}

.zero {
    grid-area: zero;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.multiply {
    grid-area: multiply;
}

.divide {
    grid-area: divide;
}

.equals {
    grid-area: equals;
}

.decimalPoint {
    grid-area: dp;
}

/* Clear Delete Buttons */
.clear,
.delete {
    /* width: 10rem; */
    /* height: 2.5rem; */
    border: solid 3px blue;
    border-radius: 10px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Numbers and DP */
.numbers,
.decimalPoint {
    /* width: 3rem; */
    /* height: 2.5rem; */
    border: solid 3px rgb(47, 47, 177);
    border-radius: 10px;
    background-color: rgb(238, 223, 10);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Operator Buttons */
.plus, 
.minus,
.multiply,
.divide,
.equals {
    /* width: 3rem; */
    /* height: 2.5rem; */
    border: solid 3px blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus, 
.minus,
.multiply,
.divide {
    background-color: limegreen;
}

.equals {
    background-color: greenyellow;
}